html {
	overflow-y: scroll;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
	display: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 4s linear;
	}
}



.App-header {
	background-color: #314161;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}


.App-subHeading{
	margin-bottom:0;
}

.App-event {
	margin-top: 20px;
}

	.App-event ul {
		list-style-type: none;
	}

	.App-event li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
	}

		.App-event li.is-animated span {
			display: block;
			animation: App-logo-scale infinite .8s ease-in-out;
		}

.App-eventImage {
	display: block;
	width: 295px;
	margin-left: 50px;
	max-width: 44%;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes App-logo-scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.jgsQQW, .cCHUep, .jImxOi {
	display: none !important;
}

.fcrYGG{
	background-color: #fff;
}

.zyuFN {
	background-color: transparent;
	background-image: url('candy.jpg');
}

.cCHUep {
	background-image: url('lollipop.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	height: 190px;
	max-height: 500px;
	transform: rotate(-90deg);
}

.expkjb {
	background-image: url('polkagris.png');
	background-size: 108%;
	background-repeat: no-repeat;
	background-color: transparent;
	height: 193px;
	max-height: 500px;
	transform: rotate( -90deg);
	background-position: center top;
}